[submodule "tools/splat"]
	path = tools/splat
	url = https://github.com/ethteck/splat
[submodule "libreultra"]
	path = libs/libultra
	url = https://github.com/Gillou68310/libreultra.git
[submodule "libs/libkmc"]
	path = libs/libkmc
	url = https://github.com/Gillou68310/libkmc.git
